body{
    background-color: rgb(1, 1, 20);
    color: white;
}

*{
   border-radius: 5px;
}

.main{
    display: flex;
    background-color: rgb(20, 19, 44);
    max-width: 350px; 
    transform: translateY(40%);
    margin: auto;
    height: fit-content;
    padding: .5em;
    justify-content: center;
    border: 2px solid white;
}

#peraf{
    display: inline-block;
}

.notas{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 37vh;
    background-color: rgb(1, 1, 20);
    overflow-y: scroll;
    display: inline-bl;
}

h1{
    transform: translate(110%, 350%);
    margin: 0;
    overflow: hidden;
    max-width: 400px;
}

button{
    margin-top: 1em;
}

.media{
    display: inline-block;
}

.text{
    margin: .2em;
}




#div_notas{
    display: flex;
    gap: .5em;
}









